{% extends 'admin/layout.html' %}
{% block content %}
    <main class="app-main">
        <div class="app-content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h1 class="mb-0 fs-3">
                            <i class="bi bi-people"></i>
                            User
                        </h1>
                    </div>
                    <div class="col-sm-6">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb float-sm-end">
                                <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add User</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


        <div class="app-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <a href="{{ url_for('user') }}" class="btn btn-sm btn-outline-secondary">
                                        <i class="bi bi-arrow-left-circle"></i>
                                        Back
                                    </a>
                                </h3>
                            </div>
                            <div class="card-body">
                                <form method="post" action="#" enctype="multipart/form-data">
                                    <div class="mb-3">
                                        <img id="preview_img" style="height: 100px; border-radius: 10px;">
                                        <hr>
                                        <input
                                                type="file"
                                                class="form-control"
                                                id="profile"
                                                onchange="document.getElementById('preview_img').src = window.URL.createObjectURL(this.files[0])"
                                        >
                                    </div>

                                    <div class="mb-3">
                                        <label for="username" class="form-label">Username</label>
                                        <input type="text" class="form-control" id="username">
                                    </div>

                                    <div class="mb-3">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="password">
                                    </div>

                                    <button type="reset" class="btn btn-outline-danger">Cancel</button>
                                    <button type="submit" class="btn btn-outline-primary float-end">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

