{% extends 'admin/layout.html' %}
{% block content %}
    <main class="app-main">
        <div class="app-content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h1 class="mb-0 fs-3">
                            <i class="bi bi-people"></i>
                            User
                        </h1>
                    </div>
                    <div class="col-sm-6">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb float-sm-end">
                                <li class="breadcrumb-item"><a href="{{ url_for('admin_bp.dashboard') }}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Confirm Delete</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


        <div class="app-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <a href="{{ url_for('admin_bp.user') }}" class="btn btn-sm btn-outline-secondary">
                                        <i class="bi bi-arrow-left-circle"></i>
                                        Back
                                    </a>
                                </h3>
                            </div>
                            <div class="card-body">
                                <form method="post" action="#" enctype="multipart/form-data">
                                    <h3 style="color: red; background-color: yellow">Do You Want To Delete ?</h3>
                                    <ul>
                                        <li>Username: admin</li>
                                        <li>Role: admin</li>
                                    </ul>
                                    <button
                                            type="submit"
                                            class="btn btn-outline-danger float-end"
                                    >
                                        Yes Delete
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

